#accordion a {
	color: #a08056;
}

.progress[value]::-webkit-progress-value {
	background-color: #71934E;
}

.table-suggestions tr td:first-child {
	width: 20%;
}

.table-suggestions tr td:nth-child(2) {
	width: 3%;
}

.table-suggestions tr td:nth-child(3) {
	width: 3%;
}

.table-suggestions tr td:nth-child(4) {
	width: 29%;
    padding-top: 1.7% !important;
    padding: 0;
}

.table-suggestions tr td:last-child {
	width: 15%;
}

.table-requirements tr td:first-child {
	width: 30%;
}

.table-requirements tr td:last-child {
	width: 70%;
}

.invited-thumbnail {
	height: 50px;
    width: auto;
}

.table-invitees td {
	padding: 0;
}

.vcenter-name {
    padding-top: 3.5% !important;
}


.table-locations td {
	border: none !important;
}

.table-locations tr td:first-child {
	width: 30%;
}

.table-locations tr td:nth-child(2) {
	width: 50%;
    padding-top: 1.7% !important;
    padding: 0;
}

.table-locations tr td:last-child {
	width: 20%;
}

.table-dates td {
	border: none !important;
}

.table-dates tr td:first-child {
	width: 40%;
}

.table-dates tr td:nth-child(2) {
	width: 40%;
    padding-top: 1.7% !important;
    padding: 0;
}

.table-dates tr td:last-child {
	width: 20%;
}

.table-to-be-invited {
	width: 50%;
}

.table-to-be-invited tr {
	
}


.custom-center {
	margin: 0 auto;
	text-align: center;
}

.borderless td{
	border: none;
	padding: 2px;
}

.person-does-not-exist {
    margin-top: 1%;
    width: 58%;
    margin-left: 5%;
}

.invitees-box {
	margin-left: 5%;
}