.table-suggestions tr td:first-child {
	width: 20%;
}

.table-suggestions tr td:nth-child(2) {
	width: 5%;
}

.table-suggestions tr td:nth-child(3) {
	width: 60%;
    padding-top: 1.7% !important;
    padding: 0;
}

.table-suggestions tr td:last-child {
	width: 15%;
}

.table-requirements tr td:first-child {
	width: 30%;
}

.table-requirements tr td:last-child {
	width: 10%;
}

.invited-thumbnail {
	height: 50px;
    width: auto;
}

.table-invitees td {
	padding: 0;
}

.vcenter-name {
    padding-top: 3.5% !important;
}
