html, body {
	height:100%;
}

.wrapper {
	min-height:100%;
	position:relative;
}

.content {
	padding-top: 2rem;
	padding-bottom: 10rem;
}

footer {
	background: #3F51B5;
	width:100%;
	position:absolute;
	bottom:0;
	color: #FFF;
	text-align: center;
	padding: 1.5rem 0rem;
	font-size:1.2rem;
	border-top:3px solid #2B4788;
}