/**
 *
 * Custom styles for homepage
 *
 */

	body {
		background-image: url('./../img/background.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.navbar {
		background-color: transparent;
	}

	.content {
		color: white;
		text-align: center;
		margin: 15% auto;
		height: 10%;
	}

	h1 {
		font-size: 3rem;
	}

	a {
		color: #a08056;		
		display: block;
	}

	a:hover {
		color: #a08056;
	}

	.content a {		
		margin: 1rem 0rem;
	}

	.btn-primary {
		background-color: #a08056;
		border-color: #a08056;
		color: #FFF;
	}

	.btn-primary:hover {
		background-color: #9a7545;
		border-color: #9a7545;
		color: #FFF;
	}

	